.MuiTimeline-root {
    padding-left: 0 !important;
}

.MuiTimelineItem-root {
    &:before {
        padding: 0 !important;
    }

    .selected {
        border: 4px solid #000000;
    }

    &.only-separator {
        &:before {
            padding: 0;
            display: none !important;
        }

        .MuiTypography-root {
            display: flex;
            align-items: center;
        }

        .MuiTimelineContent-positionRight {
            padding-left: 16px;
        }
    }

    &:not(.only-separator) {
        .MuiTimelineContent-root {
            word-break: break-all;
            padding: 0;
        }
    }

    //.MuiGrid-root.MuiGrid-item {
    //    &:nth-child(2) {
    //        padding-left: 0;
    //    }
    //}

    .MuiTimelineSeparator-root {
        .MuiTimelineConnector-root {
            height: 50px;
        }
    }
}
