.grey-title {
    margin: 16px 0px 8px;
    line-height: 1.5;
    font-size: 0.6875rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.08rem;
    color: rgb(111, 126, 140);
}
